# Dependencies
/node_modules

# Build artifacts
/build
/public/build
/vite-env.d.ts
/.vite
/.vercel

# Local Environment Variables
.env*
!.env.example
!.env.vault

# Prisma
*.sqlite
*.sqlite-journal

# Logs
npm-debug.log*
yarn-error.log
pnpm-debug.log
*.log

# IDEs
/.vscode
/.idea
*.iml

# Backup files
*.backup
*.bak
*~

# OS
.DS_Store
Thumbs.db